@page "/admin/role"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.IndexModel


@using Microsoft.AspNetCore.Identity
@using ThongNhat_Hospital.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Quản lý Role";

    Layout = "Admin/_Dashboard";
}



<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
<div>
    <a href="./role/Create"  class="btn btn-block btn-primary">Thêm Role</a>
</div>

       
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3>Thống kê vai trò nhân viên</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="table1" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Normalized Name</th>
                                    <th>Id</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int stt = 1;
                                }
                                @foreach(var role in Model.role)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@role.Name</td>
                                        <td>@role.NormalizedName</td>
                                        <td>@role.Id</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid ="@role.Id">Cập nhật</a>
                                            <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa</a>
                                        </td>
                                    </tr>
                                     stt = stt + 1;
                                }
                                
                            </tbody>
                            <tfoot>
                                @*<tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>*@
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->

</div><!-- /.content-wrapper -->

<!-- page script -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--datatable-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer="defer"></script>

    <script src="https://cdn.datatables.net/rowreorder/1.3.3/js/dataTables.rowReorder.min.js" defer="defer"></script>

    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js" defer="defer"></script>

    
    <script type="text/javascript">

        $(document).ready(function () {
            $('#table1').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                bPaginate: true
            })

        });

    </script>




