@page "/admin/role"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.IndexModel


@using Microsoft.AspNetCore.Identity
@using ThongNhat_Hospital.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "Admin/_Dashboard";
}



<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
<div>
    <a href="./role/Create"  class="btn btn-block btn-primary">Thêm Role</a>
</div>

       
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bảng vai trò nhân viên</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Normalized Name</th>
                                    <th>Id</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int stt = 1;
                                }
                                @foreach(var role in Model.role)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@role.Name</td>
                                        <td>@role.NormalizedName</td>
                                        <td>@role.Id</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid ="@role.Id">Cập nhật</a>
                                            <a class="btn btn-danger  btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa</a>
                                        </td>
                                    </tr>
                                     stt = stt + 1;
                                }
                                
                            </tbody>
                            <tfoot>
                                @*<tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>*@
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->

</div><!-- /.content-wrapper -->

<!-- page script -->
@section scripts{
        <script type="text/javascript">
        $(function () {
            $("#example13").dataTable();
            $('#example1').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });
    </script>
}


