@model ThongNhat_Hospital.Models.CTDH

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chuky)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chuky)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hinhthuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hinhthuc.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phieugiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phieugiao.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
