@page "/admin/user"
@model ThongNhat_Hospital.Areas.Identity.Pages.User1.IndexModel


@using Microsoft.AspNetCore.Identity
@using ThongNhat_Hospital.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "Admin/_Dashboard";
}



<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
<div>
    <a href="./user/Create"  class="btn btn-block btn-primary">Thêm người dùng</a>
</div>

       
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bảng vai trò nhân viên</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="table1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>vai trò</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int stt = 1;
                                }
                                @foreach(var user in Model.users)
                                {
                                    @if (user.UserName == "admin")
                                    {
                                        @*<tr>
                                            <td>@stt</td>
                                            <td>@user.Rolenames</td>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-success btn-sm disabled" asp-page="./SetPassword" asp-route-id="@user.Id">Cập nhật</a>
                                                <a class="btn btn-success btn-sm disabled" asp-page="./Delete" asp-route-id="@user.Id">Xóa</a>
                                                <a class="btn btn-success btn-sm" asp-page="./AddRole" asp-route-id="@user.Id">Thêm role</a>
                                            </td>
                                        </tr>*@

                                    }

                                    else
                                    {
                                        <tr>
                                            <td>@stt</td>
                                            <td>
                                                @if (string.IsNullOrEmpty(@user.Rolenames))
                                                {
                                                    <a asp-page="./AddRole" asp-route-id="@user.Id">+ Thêm role</a>
                                                }else
                                                {
                                                    <a asp-page="./AddRole" asp-route-id="@user.Id">@user.Rolenames</a>
                                                }

                                                
                                            </td>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            @if(@user.LockoutEnabled == true){
                                                <td>Hoạt động</td>
                                            }
                                            else
                                            {
                                                <td>không hoạt động</td>
                                            }
                                            <td>
                                                <a class="btn btn-success btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
                                            </td>
                                        </tr>
                                        stt = stt + 1;
                                    }
                                    
                                }
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" defer="defer"></script>



<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#table1').DataTable({
            bPaginate:true
        })

    });
</script>

