@model IEnumerable<ThongNhat_Hospital.Models.ChiTietHang>

@{
    ViewData["Title"] = "FileDetail";
    Layout = "~/Views/Shared/User/_LayoutUser.cshtml";
}

<h2>FileDetail</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.file)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.filename)
            </td>
            <td>
                @*<input class="form-control hidden" id="@item.id;" value="@Html.DisplayFor(modelItem => item.file)">*@
                <button id="btndowload1" onclick="dowloadFile('@item.file','@item.filename')">Dowload</button>
                <button onclick="abc('@item.file')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
            </td>

  
        </tr>
}
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>*@
                    <div class="modal-body">
                        <iframe frameborder="0" id="frame1" height="700" width="870"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </tbody>
</table>
<script type="text/javascript">
    function DowloadPDF(data,filename){
        const link = data;
        const dowloadlink = document.createElement('a');
        const filename1 = filename;

        dowloadlink.href = link;
        dowloadlink.download = filename1;
        dowloadlink.click();
    }

    function dowloadFile(data, filename) {
        DowloadPDF(data, filename);
    }

    function abc(data1){
        document.getElementById("frame1").src = data1;
    }


</script>