@using System.Globalization;
@model IEnumerable<ThongNhat_Hospital.Models.CTDH>

@{
    ViewData["Title"] = "Lịch sử ";
    Layout = "~/Views/Shared/User/_LayoutUser.cshtml";
}
<style>
    h3 {
        font-size: 30px;
        font-weight: bold;
        color: #0190df;
        padding-bottom: 20px;
        border-bottom: 2px solid #1261b0;
        margin-bottom: 10px;
    }

    thead {
        background-color: #1261b0;
        color: #fff;
    }
</style>
<h3>Lịch sử giao nhận hàng</h3>

<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />


<table class="table table-bordered table-striped" id="table1">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã phiếu
            </th>
            <th>
                Hình thức
            </th>
            <th>
                Trạng thái
            </th>

            <th>
                Cập nhật
            </th>
            <th>
                Xem lại phiếu
            </th>

            
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                @if(item.phieugiao.tinhtrang == 1)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id_PhieuGiao">@Html.DisplayFor(modelItem => item.Id_PhieuGiao)</a>
                    </td>
                    
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Id_PhieuGiao)
                    </td>*@
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.phieugiao.Id)
                    </td>
                }
                
                <td>
                    @Html.DisplayFor(modelItem => item.hinhthuc.Name)
                </td>
                @if(item.phieugiao.tinhtrang == 0)
                {
                    <td>
                        Chưa xác nhận
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                                
                }
                else
                {
                    <td>
                        Đã xác nhận
                    </td>
                    <td>
                        @item.Thoigian.ToString("dd/MM/yyyy H:mm",CultureInfo.GetCultureInfo("vi-VN"))
                    </td>
                    <td>
                        <a asp-action="FileDetail" asp-route-id="@item.Id_PhieuGiao">Xem</a>
                    </td>
                                
                }
                
            </tr>
            stt = stt + 1;
        }
    </tbody>
</table>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" defer="defer"></script>


<script type="text/javascript">


    $(document).ready(function () {
        $('#table1').DataTable({
            bPaginate: true
        })

    });
    $(document).ready(function () {
        $('#table2').DataTable({
            bPaginate: true
        })

    });


</script>

