@model IEnumerable<ThongNhat_Hospital.Models.LoaiHang>


@using Microsoft.AspNetCore.Identity
@using ThongNhat_Hospital.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Loại hàng";
    Layout = "~/Views/Shared/Admin/_Dashboard.cshtml";
}


<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                    </div>
                     <div class="box-body">
                        <h3 class="box-title">Loại hàng</h3>
                        <div class="box-item" style="margin:10px">
                            <p>Ngày bắt đầu:</p>
                            <input value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" id="ngayBatDau" type="date" class="form-control" aria-describedby="basic-addon1">
                            <p>Ngày kết thúc:</p>
                            <input value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" id="ngayKetThuc" type="date" class="form-control" aria-describedby="basic-addon1">
                            <button class="btn btn-primary" style="margin-right: 30px;" onclick="ReloadPage()"><i class="fa fa-eye text-white"></i>&nbsp;Thống kê</button>
                        </div>
                        <div class="box-item" style="width: 100%; display:flex;">
                            <div id="chartContainer" style="height: 270px; width: 50%;"></div>
                            <div id="chartContainer1" style="height: 270px; width: 50%;"></div>
                        </div>

                        <div class="box-item" style="width: 100%;">
                            <table class="table table-bordered table-striped" id="table1" style="width:100%">
                                <thead>
                                    <tr>
                                        <td colspan="2">
                                            <a onclick="showInPopup('@Url.Action("Create","LoaiHang",null,Context.Request.Scheme)','Thêm loại hàng')" class="btn btn-block btn-primary" style="width: 100%;"><i class="fas fa-add"></i> Thêm loại hàng</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 70%;">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int stt = 1;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="width: 70%;">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                <div style="display:flex; flex-direction:row;">
                                                    <a onclick="showInPopup('@Url.Action("Edit","LoaiHang",new {id=item.Id},Context.Request.Scheme)','Chỉnh sửa loại hàng')" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i> Cập nhật</a>
                                                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline" style="margin-left:10px;">
                                                        <input type="hidden" asp-for="@item.Id" />
                                                        <input type="submit" value="Xóa" class="btn btn-danger " />
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        stt = stt + 1;
                                    }
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </section><!-- /.content -->
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<!--Canvas chart-->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" defer="defer"></script>

<script src="https://cdn.datatables.net/rowreorder/1.3.3/js/dataTables.rowReorder.min.js" defer="defer"></script>

<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js" defer="defer"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('#table1').DataTable({
            rowReorder: {
            selector: 'td:nth-child(2)'
            },
            responsive: true,
            bPaginate: true
        })

    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        ReloadPage();
    });
    function ReloadPage() {

        var dataPoints = [];

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            data: [{
                type: "column",
                dataPoints: dataPoints
            }]
        });

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            data: [{
                type: "pie",
                dataPoints: dataPoints
            }]
        });


        function addData(dataPoints, data) {
            for (var i = 0; i < data.length; i++) {
                dataPoints.push({
                    label: data[i].label,
                    y: data[i].y
                });
            }
            chart.render();
            chart1.render();
        }
        $.getJSON("/Report/GetLoaiHang", {
            ngayBatDau: $('#ngayBatDau').val(),
            ngayKetThuc: $('#ngayKetThuc').val()
        }, function (data) {
            addData(dataPoints, data);
        });
    }



</script>