@using System.Globalization;
@model IEnumerable<ThongNhat_Hospital.Models.PhieuGiaoHang>
@{
    ViewData["Title"] = "Index";
    Layout = "Admin/_Dashboard";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css">

<style>
    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
    }

    .box-item {
        margin-right: 15px;
    }

    .box-item input.form-control {
        height: 38px;
    }
/*
    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }*/

    .content-wrapper {
        padding: 20px;
    }

    /*.table-responsive {
        overflow-x: auto;
    }*/

    /*th {
        text-align: center;
    }*/

    .modal-header {
        border-bottom: 0 none;
    }

    .modal-footer {
        border-top: 0 none;
        text-align: right;
    }

    .modal-footer button {
        margin-left: 10px;
    }
</style>

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        @*<div>
        <a href="./role/Create" class="btn btn-block btn-primary">Thêm Role</a>
        </div>*@


    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Đơn hàng</h3>
                        <div class="col-md-12 box">
                            <div class="box-item">
                                <p>Ngày bắt đầu:</p>
                                <input value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" id="ngayBatDau" type="date" class="form-control" aria-describedby="basic-addon1">
                            </div>
                            <div class="box-item">
                                <p>Ngày kết thúc:</p>
                                <input value="@DateTime.Now.AddHours(12).ToString("yyyy-MM-dd")" id="ngayKetThuc" type="date" class="form-control" aria-describedby="basic-addon1">
                            </div>
                            @*<div class="box-item">
                                <div class="form-group">
                                    <label>Date and time range:</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="reservationtime"/>
                                    </div><!-- /.input group -->
                                  </div><!-- /.form group -->
                            </div>*@
                            <div class="box-item">

                                <button class="btn btn-primary" style="margin-right: 30px;" onclick="ReloadPage()"><i class="fa fa-eye text-white"></i>&nbsp;Thống kê</button>
                            </div>
                        </div>
                        <div class="col-md-12 box">

                            <div class="box-item" style="width: 50%;">
                                <div id="chartContainer" style="height: 270px; width: auto;"></div>
                            </div>
                            <div class="box-item" style="width: 50%;">
                                <div id="chartContainer1" style="height: 270px; width: auto;"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-item" style="width:100%">
                                    <table id="table1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    STT
                                                </th>
                                                <th>
                                                    Số phiếu
                                                </th>
                                                <th>
                                                    Ngày
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Note)
                                                </th>
                                                <th>
                                                    Loại hàng
                                                </th>
                                                <th>
                                                    Tình trạng
                                                </th>
                                                <th>

                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int stt = 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @stt
                                                    </td>
                                                    @{
                                                        stt += 1;
                                                    }
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                                                    </td>
                                                    <td>
                                                        @item.ngaygiao.ToString("dd/MM/yyyy H:mm",CultureInfo.GetCultureInfo("vi-VN"))
                                                        @*@Html.DisplayFor(modelItem => item.ngaygiao)*@
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Note)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.loaihang.Name)
                                                    </td>
                                                    @if (item.tinhtrang == 0)
                                                    {
                                                        <td>
                                                            Chưa hoàn thành
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            Hoàn thành
                                                        </td>
                                                    }
                                                    <td>
                                                        <a asp-action="Details" asp-route-id="@item.Id">Chi Tiết</a> @*|*@
                                                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </section><!-- /.content -->
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Canvas chart-->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

<!--Data Tables-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js" defer="defer"></script>

@*<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,

            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
        }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,

            data: [{
                type: "pie",
                dataPoints: @Html.Raw(ViewBag.DataPoints)
        }]
        });
        chart.render();

    }
</script>*@
<script>
    window.onload = function () {

        var dataPoints = [];

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,
            data: [{
                type: "column",
                toolTipContent: "<b>{label}</b>: {y} đơn",
                indexLabel: "{label} - {y} đơn",
                dataPoints: dataPoints
            }]
        });

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            theme: "light2", // "light1", "dark1", "dark2"
            exportEnabled: true,

            data: [{
                type: "pie",
                toolTipContent: "<b>{label}</b>: {y} đơn",
                indexLabel: "{label} - {y} đơn",
                dataPoints: dataPoints
            }]
        });


        function addData(data) {
            for (var i = 0; i < data.length; i++) {
                dataPoints.push({
                    label: data[i].label,
                    y: data[i].y
                });
            }
            chart.render();
            chart1.render();
        }
        $.getJSON("/Report/GetTinhTrang", addData);

    }
</script>


<script type="text/javascript">


    $(document).ready(function () {
        $('#table1').DataTable({
            bPaginate: true
        })

    });

</script>



@*@section scripts {
    <script>
        $(document).ready(function(){});
        $.ajax({
            url: "/PhieuGiaoHang/GetLoaiHang",
            type: "GET",
            data: "",
            success: function (response) {
                console.log(response)
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,

                    data: [{
                        type: "bar",
                        indexLabel: "{y}",
                        dataPoints: response.dataPoints
                    }]
                });
                chart.render();
            }
        });
    </script>

}*@




